@media (max-width:5023px){
  .Rectangle-1 {
    width: 3023px;
    height: 1767px;
    padding: 88px 21px 12px 80px;
    background-color: rgba(211, 120, 120, 0.608);
  }
}

.ETHERSCAN {
  width: 223px;
  height: 44px;
  margin: 0 175px 110px 20px;
  font-family: Inter;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Search {
  width: 444px;
  height: 42px;
  margin: 30px 15px 51px 210px;
  padding: 15px 216px 23px 13px;
  font-size: 25px;
  background-color: rgba(249, 224, 224, 0.7);
}
.Rectangle-2 {
  width: 867px;
  height: 358px;
  margin: 51px 55px 43px 0;
  padding: 144px 27px 14px 144px;
  background-color: #d9b8b8;
}

.Balance {
  width: 394px;
  height: 123px;
  margin: 0 0 59px;
  font-family: Inter;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #121111;
}

.Balance .text-style-1 {
  color: #fff;
}

.-ETH {
  width: 274px;
  height: 39px;
  margin: 8px 12px 8px 263px;
  font-family: Inter;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.-WON {
  width: 142px;
  height: 24px;
  margin: 8px 13px 21px 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8b7676;
}
.Vector-1 {
  width: 147px;
  height: 75px;
  margin: 21px 0 7px 12px;
  border: solid 1px #030303;
}

.signature {
  width: 68px;
  height: 18px;
  margin: 7px 5px 0 86px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Donation{
  width: 504px;
  height: 19px;
  margin: 43px 0 0 175px;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
